yfinance == 0.2.64
datetime == 5.5
fredapi == 0.5.2
openai == 1.78.1
python-dotenv == 1.1.0
lxml == 5.4.0
pykrx == 1.0.51
openpyxl == 3.1.5
financial-news-api == 0.0.1
polars == 1.30.0
pyarrow == 20.0.0
PublicDataReader == 1.1.1
finvizfinance == 1.1.0
scipy == 1.15.3
XlsxWriter == 3.2.5
ta==0.11.0
google-generativeai==0.8.5
Cython==3.1.2 
patsy==1.0.1 
pmdarima==2.0.4 
statsmodels==0.14.5
pulp==1.6.8 
pyparsing==3.2.3
kaleido==1.0.0
# pip install -r requirements.txt

